main {
    padding: 4%;
    max-width: 600px;
    margin: auto;
}
header {
    text-align: center;
    padding: 1em;
    background: #eee;
}
input[name='captcha'] {
    text-align: right;
}
#gif-container {
    text-align: center;
}
#gif {
    margin: auto;
}
